name: Trigger Weekly Automatic Retraining ML Model

on:
  schedule:
    - cron: '0 1 * * 6'
  workflow_dispatch:

jobs:
  trigger-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Wake up Railway and Start Training
        env:
          API_URL: "https://backend-production-a6c92.up.railway.app/ml-model/training/internal/trigger-background?stage=prod"
          SECRET_TOKEN: ${{ secrets.ADMIN_SECRET }}
        run: |
          echo "Enviando señal de reentrenamiento automático a: $API_URL"
          
          curl -X POST "$API_URL" \
            -H "accept: application/json" \
            -H "x-token: $SECRET_TOKEN" \
            --fail-with-body \
            --verbose