name: Trigger Weekly Automatic Retraining ML Model

on:
  # Entrenamiento atum치tico 01:00 UTC S치bado = 22:00 Viernes en Chile (Horario Verano UTC-3)
  schedule:
    - cron: '0 4 * * 6'
  workflow_dispatch:

jobs:
  trigger-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Wake up Railway and Start Training
        env:
          API_URL: "https://backend-production-c166.up.railway.app/ml-model/training/internal/trigger-background?stage=prod"
          SECRET_TOKEN: ${{ secrets.ADMIN_SECRET }}
        run: |
          echo "Enviando se침al de reentrenamiento autom치tico a: $API_URL"
          
          curl -X POST "$API_URL" \
            -H "accept: application/json" \
            -H "x-token: $SECRET_TOKEN" \
            --fail-with-body \
            --verbose